{% load static main %}
{% microservice_title as microservice_title %}

<footer>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-3 col-md-6">
        <div class="container">


          <div class="col-lg-3">
            <div class="cuadro_intro_hover " style="background-color:#cccccc;">
              <p style="text-align:center; margin-top:20px;">
                <img src="http://placehold.it/500x330" class="img-responsive" alt="">
              </p>
              <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                  <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">THIS IS H3</h3>
                  <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                  <a class=" btn btn-default" href="#"><span class="glyphicon glyphicon-plus"> INFO</span></a>
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-3">
            <div class="cuadro_intro_hover " style="background-color:#cccccc;">
              <p style="text-align:center; margin-top:20px;">
                <img src="http://placehold.it/500x330" class="img-responsive" alt="">
              </p>
              <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                  <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">THIS IS H3</h3>
                  <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                  <a class=" btn btn-default" href="#"><span class="glyphicon glyphicon-plus"> INFO</span></a>
                </div>
              </div>
            </div>

          </div>


          <div class="col-lg-3 col-md-6">
            <h3>Categories:</h3>
            <ul>
              <li><a href=""><i class="fa fa-file"></i> News</a></li>
              <li><a href=""><i class="fa fa-android"></i> Android</a></li>
              <li><a href=""><i class="fa fa-code"></i> C#</a></li>
              <li><a href=""><i class="fa fa-code"></i> Java</a></li>
              <li><a href=""><i class="fa fa-book"></i> Books</a></li>
              <li><a href=""><i class="fa fa-globe"></i> Web</a></li>
              <li><a href=""><i class="fa fa-windows"></i> Windows</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6">
            <h3>Contact:</h3>
            <p>Have a question or feedback? Contact me!</p>
            <p><a href="{% url 'contact_us:index' %}" title="Contact me!"><i class="fa fa-envelope"></i> Contact</a></p>
            <h3>Follow:</h3>


            <a href="" id="gh" target="_blank" title="Twitter">
              <span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
              </span> Twitter
            </a>
            <a href="" target="_blank" title="GitHub">
              <span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x"></i>
              </span> GitHub
            </a>

          </div>
          <br/>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="">Tweet</a>
          <!--          <script>-->
          <!--              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');-->
          <!--          </script>-->
          <div class="g-plusone" data-annotation="inline" data-width="300" data-href=""></div>
          <br/>
          <hr>
          <p>Copyright © {{ microservice_title }} | <a href="">Privacy Policy</a> | <a href="">Terms of Use</a></p>


</footer>
