.toast {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 480px;
  padding: 6px;
  background: #cccccc;
  color: #333333;
  font-family: sans-serif;
  text-align: center;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, top 0.2s, visibility 0.2s;
}

.toast-visible {
  top: 50px;
  opacity: 1;
  visibility: visible;

}

.toast-success {
  background: #00C02B;
  border-color: #009D23;
  color: #ffffff;
}

.toast-error {
  background: #D50000;
  border-color: #BA0000;
  color: #ffffff;
}
