<!-- the comment box -->
<div class="well">
  <h4><i class="fa fa-paper-plane-o"></i> Leave a Comment:</h4>
  <form role="form">
    <div class="form-group">
      <textarea class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary"><i class="fa fa-reply"></i> Submit</button>
  </form>
</div>
<hr>

<!-- the comments -->
<h3><i class="fa fa-comment"></i> User One says:
  <small> 9:41 PM on August 24, 2014</small>
</h3>
<p>Excellent post! Thank You the great article, it was useful!</p>

<h3><i class="fa fa-comment"></i> User Two says:
  <small> 9:47 PM on August 24, 2014</small>
</h3>
<p>Excellent post! Thank You the great article, it was useful!</p>
