{% load main %}
<!-- the comment box -->
<div class="well">
  <h4><i class="fa fa-paper-plane-o"></i> Leave a Comment:</h4>
  <form role="form">
    <div class="form-group">
      <textarea class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary"><i class="fa fa-reply"></i> Submit</button>
  </form>
</div>
<hr>

<!-- the comments -->
{% for comment in comments %}
<div>
  <h3><i class="fa fa-comment"></i> {{ comment.author }}:
    <small> {{ comment.updated | date_time }}</small>
  </h3>
  <p>{{ comment.content }}</p>
  <a href="#"><i class="fa fa-reply"></i> Reply</a>
  {% for child in comment.child %}
  <div class="sub-comment">
    <h3><i class="fa fa-comment"></i> {{ child.author }}:
      <small> {{ child.updated | date_time }}</small>
    </h3>
    <p>{{ child.content }}</p>
  </div>
  {% endfor %}
</div>

{% endfor %}
