web/static/
Pip*
Pipfile*
__pycache__/
.idea/
celerybeat*
.local/
*.log
*.log.*
.ash_history
.coverage
web/.cache
.cache
modules.txt
web/media/*
!web/media/no-avatar.png
!web/media/no-image-available.jpg

