node_modules
web/dist
web/build
web/static/
Pip*
Pipfile*
__pycache__
.idea
.vscode
celerybeat*
.local
*.log
*.log.*
.ash_history
.bash_history
.python_history
.coverage
.cache
web/media/*
htmlcov
venv
backup
.crt
.key
build
*.mo
coverage.xml
.runner_system_id
modules.txt
!web/media/no-avatar.png
!web/media/no-image-available.jpg

# Helm deps
postgresql-*.tgz
redis-*.tgz

db.sqlite3
.secrets.env
*.spec
.secrets.env
