{% extends 'base.html' %}
{% load static i18n %}

{% block head %}
<!--<link href="{% static 'actions/css/actionFeed.css' %}" rel="stylesheet">-->
{% endblock head %}

{% block container %}
<div class="row form-group">
  <div class="col-xs-12 col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
    {% for action in results %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <i>Mashable</i> - <span>#Social-Media</span><span>#Web</span>
      </div>
      <div class="panel-image">
        <img
          src="http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_52d09387ae003_1.JPG"
          class="panel-image-preview"/>
        <!--<label for="toggle-1"></label>-->
        <h4>Summary</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien.
          Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper
          et.</p>
      </div>
      <!--<input type="checkbox" id="toggle-1" class="panel-image-toggle">-->
      <div class="panel-footer clearfix">
        <a href="#download" class="btn btn-primary btn-sm btn-hover pull-left">Save <span class="fa fa-bookmark"></span></a>
        <a href="#facebook" class="btn btn-success btn-sm btn-hover pull-left" style="margin-left: 5px;">Shr <span
          class="glyphicon glyphicon-send"></span></a>
        <a class="btn comsys btn-danger btn-sm btn-hover pull-left" style="margin-left: 5px;">Cmt <span
          class="fa fa-comment"></span></a>
        <a href="#share" class="btn btn-warning btn-sm btn-hover pull-left" style="margin-left: 5px;">Like <span
          class="fa fa-thumbs-up"></span></a>

      </div>
    </div>

    <hr>
    {% endfor %}
  </div>
</div>
{{ count }}
{{ results }}
{% endblock container %}

{% block jquery %}
$.getScript('{% static 'actions/js/actionFeed.js' %}');
{% endblock %}
