{% extends 'auth_app/base.html' %}
{% load static %}

{% block head %}
<link href="{% static 'auth_app/css/login.css' %}" rel="stylesheet">
{% endblock head %}

{% block container %}
<div class="row" style="margin-top: 50px;">
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <div class="alert alert-success" style="margin-bottom: 0;">
          <h3><i class="glyphicon glyphicon-check"></i> Password Reset Successful!</h3>
          <p style="font-size: 16px; margin-top: 20px;">
            Your password has been successfully reset. You can now log in with your new password.
          </p>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <a href="{% url 'auth_app:login' %}" class="btn btn-primary btn-lg btn-block">
                Sign In Now
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Auto-redirect to login after 3 seconds
  setTimeout(function() {
    window.location.href = "{% url 'auth_app:login' %}";
  }, 3000);
</script>
{% endblock container %}