{% extends 'auth_app/base.html' %}

{% block container %}
<div class="row" style="margin-top: 50px;">
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <div class="alert alert-danger">
          <h3>Invalid Reset Link</h3>
          <p>The password reset link is invalid or has expired.</p>
          <hr>
          <a href="{% url 'auth_app:login' %}" class="btn btn-primary">Return to Sign In</a>
          <a href="#" data-toggle="modal" data-target="#pwdModal" class="btn btn-default">Request New Reset Link</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}