<ul class="list-group">
  <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
  <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
  <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
  <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
  <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
</ul>
