{% extends "base.html" %}
{% load static i18n %}
{% block active_contact %}class="active"{% endblock active_contact %}

{% block header %}
  {% include 'includes/header.html'  with selected='contact_us' %}
{% endblock header %}

{% block container %}

  <h3 class="text-center">Contact us</h3><br/>

  <div class="row">
    <div class="col-md-8">
      <form id="feedBackForm" action="{% url 'contact_us:feedback' %}" method="post">
        {% csrf_token %}
        {% if not user.is_authenticated %}
          <div id="nameGroup">
            <input class="form-control" name="name" placeholder="Name..." required><br/>
          </div>
          <div id="emailGroup">
            <input class="form-control" name="email" placeholder="E-mail..." required><br/>
          </div>
        {% endif %}
        <div id="contentGroup">
          <textarea class="form-control" name="content" placeholder="How can we help you?"
                  style="height:150px;"></textarea>
        </div><br/>
        <div class="file-upload" id="fileGroup">
          <input type="file" name="file">
        </div>
        <br/>
        <input class="btn btn-primary" type="submit" value="{% trans 'Send' %}"/><br/>
      </form>
    </div>
    {% include 'contact_us/includes/contact_data.html' %}
  </div>
{% endblock container %}

{% block jquery %}
  $.getScript('{% static 'contact_us/js/contact_us.js' %}');
{% endblock %}
