{% extends "base.html" %}
{% block active_contact %}class="active"{% endblock active_contact %}

{% block header %}
{% include 'includes/header.html'  with selected='contact_us' %}
{% endblock header %}

{% block container %}

<h3 class="text-center">Contact us</h3><br/>

<div class="row">
  <div class="col-md-8">
    <form action="{% url 'api:v1:contact_us:feedback' %}" method="post">
      {% csrf_token %}
      {% if not user.is_authenticated %}
      <input class="form-control" name="name" placeholder="Name..."/><br/>
      <input class="form-control" name="email" placeholder="E-mail..."/><br/>
      {% endif %}
      <textarea class="form-control" name="content" placeholder="How can we help you?"
                style="height:150px;"></textarea><br/>
      <input class="btn btn-primary" type="submit" value="Send"/><br/><br/>
    </form>
  </div>
  <div class="col-md-4">
    <b>Customer service:</b> <br/>
    Phone: +1 129 209 291<br/>
    E-mail: <a href="mailto:support@mysite.com">support@mysite.com</a><br/>
    <br/><br/>
    <b>Headquarter:</b><br/>
    Company Inc, <br/>
    Las vegas street 201<br/>
    55001 Nevada, USA<br/>
    Phone: +1 145 000 101<br/>
    <a href="mailto:usa@mysite.com">usa@mysite.com</a><br/>


    <br/><br/>
    <b>Hong kong:</b><br/>
    Company HK Litd, <br/>
    25/F.168 Queen<br/>
    Wan Chai District, Hong Kong<br/>
    Phone: +852 129 209 291<br/>
    <a href="mailto:hk@mysite.com">hk@mysite.com</a><br/>


  </div>
</div>
{% endblock container %}
