{% extends "blog/base.html" %}
{% load static main %}

{% block title %}New Post{% endblock title %}

{% block head %}
<script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
{% endblock head %}

{% block container %}

<h1>Create a new post</h1>
<form action="" method="post">
  <div>
    <label>Category: </label>
    <select class="form-control" name="category_id">
      {% for category in categories %}
      <option value="{{ category.id }}">{{ category.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label>Article Title: </label>
    <input class="form-control" type="text" maxlength="200" name="title">
  </div>
  <div>
    <input class="form-control" type="file" name="image" value="Upload poster">
  </div>
  <div>
    <textarea name="content"></textarea>
  </div>


</form>
<script>
  CKEDITOR.replace('content');
</script>

{% endblock container %}
