{% extends "blog/base.html" %}


{% block head %}{% endblock head %}

{% block container %}
<div class="row">
  <div class="col-lg-8">

    <!-- the actual blog post: title/author/date/content -->
    <h1><a href="">Blog Post Template for Bootstrap</a></h1>
    <p class="lead"><i class="fa fa-user"></i> by <a href="">Super User</a>
    </p>
    <hr>
    <p><i class="fa fa-calendar"></i> Posted on August 24, 2014 at 9:00 PM</p>
    <p><i class="fa fa-tags"></i> Tags: <a href=""><span class="badge badge-info">Bootstrap</span></a> <a
      href=""><span class="badge badge-info">Web</span></a> <a href=""><span class="badge badge-info">CSS</span></a>
      <a href=""><span class="badge badge-info">HTML</span></a></p>

    <hr>
    <img src="http://placehold.it/900x300" class="img-responsive">
    <hr>
    <p class="lead">Welcome to Bootstrap Blog Template! This is a blog template example, built with Bootstrap.
      Contains "tools" that would be needed in a post.</p>
    <p>Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum
      dolor.</p>
    <p>Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor.
      Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor.</p>
    <p>Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor.
      Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor.</p>
    <p>Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor.
      Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor.</p>
    <br/>
    <center>
      <p><strong>Embed Twitter post:</strong>

        <!-- Place this tag in your head or just before your close body tag. -->
        <blockquote class="twitter-tweet" lang="hu">
      <p>Thousands of code samples at your fingertips! Literally, thousands: <a href="http://t.co/aHrsBZ7plp">http://t.co/aHrsBZ7plp</a>
        (via <a href="https://twitter.com/ch9">@ch9</a>) <a
          href="http://t.co/94CQJLOCzO">pic.twitter.com/94CQJLOCzO</a></p>— Microsoft Developer (@msdev) <a
      href="https://twitter.com/msdev/statuses/487959572230193152">2014. július 12.</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </center>
    <br/>
    <center><p><strong>Embed Youtube player:</strong></center>

    <div class="vid">
      <iframe width="560" height="315" src="//www.youtube.com/embed/bsPUMZlsZP8" frameborder="0"
              allowfullscreen></iframe>
    </div>
    <br/>
    <p>
    <h3>This Youtube Player is responsive!</h3></p>
    <p>Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum
      dolor.</p>
    <blockquote>
      <p>„Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.”</p>
      <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
    <p><h4>I like the post? Like this!</h4></p>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="">Tweet</a>
    <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');


    </script>

    <div class="g-plusone" data-annotation="inline" data-width="300" data-href=""></div>

    <!-- Helyezd el ezt a címkét az utolsó +1 gomb címke mögé. -->
    <script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();



    </script>
    <br/>
    <hr>
    <!-- the comment box -->
    {% include 'blog/includes/comments.html' %}
  </div>

  {% block right_sidebar %}
  {{ block.super }}
  {% endblock right_sidebar %}
</div>
{% endblock container %}
