{% extends "blog/base.html" %}
{% load static main %}

{% block head %}
<link href="{% static 'blog/css/comments.css' %}" rel="stylesheet">
{% endblock head %}

{% block container %}
<div class="row">
  <div class="col-lg-8">

    <!-- the actual blog post: title/author/date/content -->
    <h1><a href="">{{ title }}</a></h1>
    <p class="lead"><i class="fa fa-user"></i> by <a href="">{{ author.full_name }}</a>
    </p>
    <hr>
    <p><i class="fa fa-calendar"></i> Posted on {{ created | date_time }}</p>
    <p><i class="fa fa-tags"></i> Tags: <a href=""><span class="badge badge-info">Bootstrap</span></a> <a
      href=""><span class="badge badge-info">Web</span></a> <a href=""><span class="badge badge-info">CSS</span></a>
      <a href=""><span class="badge badge-info">HTML</span></a></p>

    <hr>
    <img src="{{ image }}" class="img-responsive" width="700" height="300">
    <hr>
    <p class="lead">
      {{ content | safe }}
    </p>
    <br/>
    <hr>
    <!-- the comment box -->
    {% include 'blog/includes/comments.html' %}
  </div>

  {% include 'blog/includes/right_sidebar.html' %}
</div>
{% endblock container %}


{% block jquery %}
$.getScript('{% static 'blog/js/detail.js' %}');
{% endblock %}
