{% extends "blog/base.html" %}
{% load static main i18n %}

{% block head %}
  <link href="{% static 'blog/css/comments.css' %}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/fe539a9d82.js" crossorigin="anonymous"></script>

{% endblock head %}

{% block container %}
  <div class="row">
    <div class="col-lg-8">
      <h1><a href="">{{ title }}</a></h1>
      <p class="lead"><i class="fa fa-user"></i> by <a href="">{{ author.full_name }}</a></p>
      <hr>
      <p><i class="fa fa-calendar"></i> Posted on {{ created }}</p>
      <p><i class="fa fa-tags"></i> Tags:
        {% for tag in tag_list %}
          <a href="#"><span class="badge badge-info">{{ tag }}</span></a>
        {% endfor %}
      </p>
      <ul>
        <li id="likeArticle" data-href="{% url 'api:v1:actions:like' %}" data-id="{{ id }}" data-type="article"
            data-vote=1 title="{% trans 'Like' %}">
          <i id="articleLikeIcon"
                  {% if like_status == 'liked' %} class="fas fa-thumbs-up"
                  {% else %} class="far fa-thumbs-up"
                  {% endif %}>
          </i><span id="articleLikeCount"> {{ likes }}</span>
        </li>
        <li id="dislikeArticle" data-href="{% url 'api:v1:actions:like' %}" data-id="{{ id }}" data-type="article"
            data-vote=-1 title="{% trans 'Dislike' %}">
          <i id="articleDislikeIcon"
                  {% if like_status == 'disliked' %} class="fas fa-thumbs-down"
                  {% else %} class="far fa-thumbs-down"
                  {% endif %}>
          </i><span id="articleDislikeCount"> {{ dislikes }}</span>
        </li>
      </ul>
      <hr>
      <img src="{{ image }}" class="img-responsive" width="700" height="300">
      <hr>
      <p class="lead">
        {{ content | safe }}
      </p>
      <br/>
      <hr>
      <!-- the comment box -->
      {% include 'blog/includes/comments.html' %}
    </div>

    {% include 'blog/includes/right_sidebar.html' %}
  </div>
{% endblock container %}



{% block jquery %}
  $.getScript('{% static 'blog/js/detail.js' %}');
  $.getScript('{% static 'blog/js/comments.js' %}');
  $.getScript('{% static 'actions/js/likes.js' %}');
{% endblock %}
