{% extends "blog/base.html" %}
{% block title %}Blog Post{% endblock title%}

{% block container %}
<div class="row">
  <div class="col-lg-8">
    <div class="row">
      <div class="col-md-12 post">
        <div class="row">
          <div class="col-md-12">
            <h4>
              <strong><a href="http://www.jquery2dotnet.com/2013/12/cool-share-button-effects-styles.html"
                         class="post-title">Cool Share Button Effects Styles</a></strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 post-header-line">
            <span class="glyphicon glyphicon-user"></span>by <a href="#">Bhaumik</a> | <span
            class="glyphicon glyphicon-calendar">
                            </span>Sept 16th, 2012 | <span class="glyphicon glyphicon-comment"></span><a href="#">
            3 Comments</a> | <i class="icon-share"></i><a href="#">39 Shares</a> | <span
            class="glyphicon glyphicon-tags">
                                </span>Tags : <a href="#"><span class="label label-info">Snipp</span></a> <a href="#">
            <span class="label label-info">Bootstrap</span></a> <a href="#"><span class="label label-info">
                                        UI</span></a> <a href="#"><span class="label label-info">growth</span></a>
          </div>
        </div>
        <div class="row post-content">
          <div class="col-md-3">
            <a href="#">
              <img
                src="http://4.bp.blogspot.com/-_lqoNpVXeU4/UkxQ7N-QW8I/AAAAAAAACTw/pni-TZyp17o/s1600/cool+share+button+effects+styles.png"
                alt="" class="img-responsive">
            </a>
          </div>
          <div class="col-md-9">
            <p>
              Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option.
              Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari
              conclusionemque, ad nobis propriae quaerendum sea.
            </p>
            <p>
              <a class="btn btn-read-more"
                 href="http://www.jquery2dotnet.com/2013/12/cool-share-button-effects-styles.html">Read more</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 post">
        <div class="row">
          <div class="col-md-12">
            <h4>
              <strong><a href="http://www.jquery2dotnet.com/2013/12/brand-icons-design-using-css.html"
                         class="post-title">Brand Icons Design Using Css</a></strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 post-header-line">
            <span class="glyphicon glyphicon-user"></span>by <a href="#">Bhaumik</a> | <span
            class="glyphicon glyphicon-calendar">
                            </span>Sept 16th, 2012 | <span class="glyphicon glyphicon-comment"></span><a href="#">
            3 Comments</a> | <i class="icon-share"></i><a href="#">39 Shares</a> | <span
            class="glyphicon glyphicon-tags">
                                </span>Tags : <a href="#"><span class="label label-info">Snipp</span></a> <a href="#">
            <span class="label label-info">Bootstrap</span></a> <a href="#"><span class="label label-info">
                                        UI</span></a> <a href="#"><span class="label label-info">growth</span></a>
          </div>
        </div>
        <div class="row post-content">
          <div class="col-md-3">
            <a href="#">
              <img
                src="http://3.bp.blogspot.com/-u1cpORMwaDA/UkxERgVvXWI/AAAAAAAACTI/xoN30ubr-L4/s1600/Brand+Icons+using+css.png"
                alt="" class="img-responsive">
            </a>
          </div>
          <div class="col-md-9">
            <p>
              Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option.
              Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari
              conclusionemque, ad nobis propriae quaerendum sea.
            </p>
            <p>
              <a class="btn btn-read-more"
                 href="http://www.jquery2dotnet.com/2013/12/brand-icons-design-using-css.html">Read more</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 post">
        <div class="row">
          <div class="col-md-12">
            <h4>
              <strong><a href="http://www.jquery2dotnet.com/2013/11/cool-big-social-counter-button-with.html"
                         class="post-title">Cool Big Social Counter Button With Bootstrap</a></strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 post-header-line">
            <span class="glyphicon glyphicon-user"></span>by <a href="#">Bhaumik</a> | <span
            class="glyphicon glyphicon-calendar">
                            </span>Sept 16th, 2012 | <span class="glyphicon glyphicon-comment"></span><a href="#">
            3 Comments</a> | <i class="icon-share"></i><a href="#">39 Shares</a> | <span
            class="glyphicon glyphicon-tags">
                                </span>Tags : <a href="#"><span class="label label-info">Snipp</span></a> <a href="#">
            <span class="label label-info">Bootstrap</span></a> <a href="#"><span class="label label-info">
                                        UI</span></a> <a href="#"><span class="label label-info">growth</span></a>
          </div>
        </div>
        <div class="row post-content">
          <div class="col-md-3">
            <a href="#">
              <img
                src="http://3.bp.blogspot.com/-oSHv84WZEz8/UpbDSzhtiqI/AAAAAAAACfE/LC6YzSK6GWQ/s1600/Cool+Big+Social+Counter+Button+With+Bootstrap.png"
                alt="" class="img-responsive">
            </a>
          </div>
          <div class="col-md-9">
            <p>
              Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option.
              Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari
              conclusionemque, ad nobis propriae quaerendum sea.
            </p>
            <p>
              <a class="btn btn-read-more"
                 href="http://www.jquery2dotnet.com/2013/11/cool-big-social-counter-button-with.html">Read more</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% include 'blog/includes/right_sidebar.html' %}
</div>
{% endblock container %}
